* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "IBM plex sans";
  font-style: normal;
}

.app-container {
  font-family: "IBM plex sans";
  min-height: 100vh;
  width: 100%;
  height: 100%;
}
